/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
}
/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ---------------------------------------------------------------------------- */
._container {
	max-width: 1046px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*----------------------------------------------------------------------------- */
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}
.header__menu {
	margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0px 0px 0px 50px;
	}
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}
.menu {
	padding: 0 5px;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
}
.menu__item:not(:last-child) {
	margin: 0 21px 0 0 ;
}
.menu__link {
	color: #737373;
	line-height: calc(24 / 14 * 100%);
	font-weight: 600;
}
@media (max-width: 479px) {
	.menu__link {
		font-size: 18px;
	}
}
/*----------------------------------------------------------------------------- */
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0 0 0;
}
.page__advantages {
}
.page__practice {
}
.page__whoweare {
}
.page__clients {
	margin: 0 0 10px 0;
}
.page__subscribe {
}
/*----------------------------------------------------------------------------- */
.header-block {
	text-align: center;
	letter-spacing: 0.2px;
	font-weight: 700;
}
.header-block__title {
	line-height: 142%;
	font-size: 40px;
	font-weight: 700;
}
.header-block__title:not(:last-child) {
	margin: 0 0 10px 0;
}
.header-block__sub-title {
	color: #737373;
	line-height: 142%;
}
@media (max-width: 992px) {
	.header-block__title {
		font-size: 35px;
	}
}
@media (max-width: 767px) {
	.header-block__title {
		font-size: 30px;
	}
}
/*----------------------------------------------------------------------------- */
.footer {

}
/*----------------------------------------------------------------------------- */

.main-block {
	position: relative;
}
.main-block__container {
}
._container {
}
.main-block__body {
	padding: 184px 0 191px 0;
	position: relative;
	z-index: 2;
	max-width: 400px;
}
@media (max-width: 992px) {
	.main-block__body {
		padding: 120px 0 191px 0;
	}
}
@media (max-width: 479px) {
	.main-block__body {
		padding: 115px 0 160px 0;
	}
}
.main-block__body > *:not(:last-child) {
	margin: 0 0 35px 0;
}
.main-block__title {
	font-size: 58px;
	line-height: 137%;
	font-weight: 800;
}
@media (max-width: 479px) {
	.main-block__title {
		font-size: 42px;
	}
}
.main-block__text {
	color: #737373;
	font-size: 20px;
	line-height: 150%;
}
@media (max-width: 479px) {
	.main-block__text {
		color: #383333;
	}
}
.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
.main-block__button {
	border-radius: 37px;
	min-height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.2px;
	font-weight: 700;
	line-height: 200%;
	padding: 0 36px;
	margin: 10px 0;
}
@media (max-width: 479px) {
	.main-block__button {
		flex: 1 1 100%;
	}
}
@media (min-width: 479px) {
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}
.main-block__button_orange {
	background-color: #ff7b47;
	color: #fff;
}
.main-block__button_border {
	color: #0d5c63;
	border: 1px solid #0d5c63;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main-block__image img {
		opacity: 0.5;
	}
}
/*----------------------------------------------------------------------------- */
.services {

}
.services__container {
}
.services__body {
}
@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}
}
.services__column {
	flex: 0 1 33.333%;
}

@media (min-width: 670px) {
	.services__column {
		padding: 0 15px;
	}
}
@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
	.services__column:not(:last-child) {
		margin: 0 0 30px 0;
	}
}
.services__item {
	height: 100%;
	box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
	background-color: #fff;
	padding: 35px;
}
.item-service {
}
.item-service__green {
	background-color: #0d5c63;

}
.item-service__green .item-service__title {
	color: #fff;
}
.item-service__green .item-service__text {
	color: #fff;
}
.item-service >*:not(:last-child){
	margin: 0 0 10px 0;
}
.item-service__icon {
}
.item-service__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: 133%;
}
.item-service__text {
	color: #737373;
	line-height: 142%;
}
/*----------------------------------------------------------------------------- */
.advantages {
	padding: 80px 0;
}
@media (max-width: 992px) {
	.advantages {
		padding: 50px 0;
	}
}
@media (max-width: 767px) {
	.advantages {
		padding: 30px 0;
	}
}
.advantages__container {
}
.advantages__header {
	margin: 0 0 50px 0;
}
@media (max-width: 767px) {
	.advantages__header {
		margin: 0 0 25px 0;
	}
}
.advantages__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px -30px;
}
.advantages__column {
	padding: 0 15px;
	margin: 0 0 30px 0;
	flex: 0 1 25%;
}
@media (max-width: 1000px) {
	.advantages__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 560px) {
	.advantages__column {
		flex: 0 1 100%;
	}
}
.advantages__item {
	background-color: #fff;
	padding: 30px;
	text-align: center;
	font-weight: 700;
}
.advantages__item >*:not(:last-child) {
	margin: 0 0 10px 0;
}
.advantages__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.advantages__value {
	font-size: 40px;
	line-height: 142%;
	color: #252B42;
	font-weight: 700;
}
.advantages__text {
	font-weight: 700;
	letter-spacing: 0.1px;
	color: #737373;
	font-size: 16px;
	line-height: 150%;
}
/*----------------------------------------------------------------------------- */
.practice {
	padding: 125px 0 80px 0;
}
@media (max-width: 993px) {
	.practice {
		padding: 40px 0 80px 0;
	}
}
@media (max-width: 767px) {
	.practice {
		padding: 0 0 40px 0;
	}
}
.practice__container {
}
.practice__header {
	margin: 0 0 45px 0;
}
.practice__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px -30px;
}
.practice__column {
	padding: 0 15px;
	margin: 0 0 30px 0;
	flex: 0 1 25%;
}
@media (max-width: 1050px) {
	.practice__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 630px) {
	.practice__column {
		flex: 0 1 100%;
	}
}
.practice__item {
}
.item-practice {
	background-color: #fff;
	display: flex;
	height: 100%;
	flex-direction: column;
}
.item-practice__content {
	padding: 30px;
	flex: 1 1 auto;
}
.item-practice__link {
	color: inherit;
	display: inline-block;
}
.item-practice__link:hover {
	text-decoration: underline;
}
.item-practice__link:not(:last-child) {
	margin: 0 0 15px 0;
}
.item-practice__title {
	font-size: 16px;
	font-weight: 700;
	color: #252B42;
	letter-spacing: 0.1px;
	line-height: 150%;
}
.item-practice__text {
	color: #737373;
	font-size: 14px;
	font-weight: 500;
	line-height: 143%;
	letter-spacing: 0.2px;
}
.item-practice__image {
	padding: 0 0 69% 0;
	display: block;
}
/*----------------------------------------------------------------------------- */
.whoweare {
	padding: 80px 0 130px 0;
	background: #fff;
}
.whoweare__container {
}
.whoweare__header {
	margin: 0 0 100px 0;
}
.whoweare__body {
	display: flex;
	align-items: flex-start;
}
.whoweare__video {
	flex: 0 0 57%;
	position: relative;
	padding: 0 0 42.25% 0;
}
.whoweare__video iframe {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.whoweare__content {
	flex: 1 1 auto;
	padding: 20px 0 0 121px;
}
.whoweare__top {

}
.whoweare__top:not(:last-child) {
	margin: 20px 0 30px 0;
}
.whoweare__title {
	font-weight: 800;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
}
.whoweare__title:not(:last-child) {
	margin: 0 0 10px 0;
}
.whoweare__text {
	color: #737373;
	font-size: 14px;
	font-weight: 500;
	line-height: 142%;
}
.whoweare__items {
}
.whoweare__item {

}
.whoweare__item:not(:last-child) {
}
.item-whoweare {
	display: flex;
}
.item-whoweare:not(:last-child) {
	margin: 0 0 30px 0;
}
.item-whoweare__icon {
	flex: 0 0 32px;
}
.ite-whoweare__body {
	flex: 1 1 auto;
	padding: 0 0 0 20px;
}
.item-whoweare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
}
.item-whoweare__title:not(:last-child) {
	margin: 0 0 5px 0;
}
.item-whoweare__text {
	color: #737373;
}
@media (max-width: 1080px) {
	.whoweare__content {
		padding: 0 0 0 50px;
	}
}
@media (max-width: 950px) {
	.whoweare {
		padding: 50px 0 50px 0;
	}
	.whoweare__header {
		margin: 0 0 30px 0;
	}
	.whoweare__body {
		flex-direction: column-reverse;
		align-items: stretch;
	}
	.whoweare__content {
		padding: 20px 0 0 50px;
	}
	.whoweare__video {
		padding: 0 0 56.25% 0;
	}
	.whoweare__video:not(:last-child) {
		margin: 50px 0 0 0;
	}
	.whoweare__title {
		font-size: 24px;
	}
}
@media (max-width: 750px) {
	.whoweare {
		padding: 20px 0 50px 0;
	}
	.whoweare__header {
		margin: 0 0 0 0;
	}
	.whoweare__video:not(:last-child) {
		margin: 30px 0 0 0;
	}
}
/*----------------------------------------------------------------------------- */
.clients {
	padding: 50px 0 ;
}
.clients__container {
}
.clients__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.client__item {
	padding: 8px 15px;
	flex: 0 1 16.6667%;
	text-align: center;
	min-width: 140px;
}
.client__item img {
	max-width: 100%;
}

@media (max-width: 767px) {
	.clients {
		padding: 30px 0 ;
	}
}
/*----------------------------------------------------------------------------- */
.subscribe {
	position: relative;
	padding: 0 0 20px 0;
}
.subscribe::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 77px;
	background: #252B42;
}
.subscribe__container {
}
.subscribe__body {
	position: relative;
	padding: 30px 50px;
	border-radius: 2px;
	font-size: 133%;
	align-items: center;
	flex-wrap: wrap;
	background: #17213C;
}
.subscribe__title {
	color: #fff;
	font-size: 133%;
	line-height: 32px;
	font-weight: 700;
	letter-spacing: 0.1px;
}
.subscribe__form {
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}
.subscribe__input {
	flex: 1 1 auto;
	min-height: 58px;
	background: #f9f9f9;
	border-right: 0;
	border: 1px solid #E6E6E6;
	box-sizing: border-box;
	border-radius: 5px 0 0 5px;
	padding: 0 20px;
}
.subscribe__input:focus {
	color: #000;
}
.subscribe__button {
	background: #ff7b47;
	color: #fff;
	min-height: 58px;
	padding: 0 22.5px;
	border: 1px solid #E6E6E6;
	border-radius: 0px 5px 5px 0px;
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
	/* identical to box height, or 200% */
	text-align: center;
	align-items: center;
	letter-spacing: 0.2px;
}

@media (min-width: 1070px) {
	.subscribe__body {
		margin: 0 30px;
	}
}
@media (min-width: 810px) {
	.subscribe__body {
		display: flex;
		justify-content: space-between;
	}
	.subscribe__title {
		max-width: 266px;
	}
}
@media (max-width: 810px) {
	.subscribe__title {
		margin: 0 0 20px 0;
	}
	.subscribe__body {
		margin: 0 -15px;
		padding: 20px 15px;
	}
}
/*----------------------------------------------------------------------------- */
.page__getintouch {
}
.getintouch {
	padding: 80px 0 135px 0;
}
.getintouch__container {

}
.getintouch__header {
	margin: 0 0 80px 0;
}
.getintouch__items {
	margin: 0 -15px;
}
@media (min-width: 992px) {
	.getintouch__items {
		display: flex;
		align-items: center;
		margin: 0;
	}
	.item-getintouch__active {
		padding: 80px 15px;
	}
}
@media (max-width: 992px) {
	.getintouch {
		padding: 50px 0;
	}
	.getintouch__header {
		margin: 0 0 50px 0;
	}
}
@media (max-width: 767px) {
	.getintouch__header {
		margin: 0 0 30px 0;
	}
}
.getintouch__item {
	flex: 0 1 33.333%;
}
.item-getintouch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	padding: 50px 40px;
}

.item-getintouch__active {
	background: #252b42;
	color: #fff;
}
.item-getintouch__active .item-getintouch__button {
	border: 1px solid #fff;
	color: #fff;
}
.item-getintouch>*:not(:last-child) {
	margin: 0 0 15px 0;
}
.item-getintouch__icon {
}
.item-getintouch__emails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-getintouch__email {
	color: inherit;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.2px;

}
.item-getintouch__email:hover {
	text-decoration: underline;
	
}
.item-getintouch__label {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.1px;
}
.item-getintouch__button {
	padding: 10px 20px;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #FF7B47;
	border: 1px solid #FF7B47;
	box-sizing: border-box;
	border-radius: 5px;
}
.item-getintouch__button:hover {
	background-color: #FF7B47;
	color: #fff;
}